#mtable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 30%;
  }
  #mtable td, #mtable th {
    border: 1px solid #ddd;
    padding: 8px;
    }
  #mtable tr:nth-child(even){background-color: #FFF8DC;}
  #mtable tr:hover {background-color: #F5DEB3;}